*{
     margin: 0;
     padding: 0;
     font-family: century Gothic;
}

header{
        background-image: url(../1.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
}

ul{
       float: right;
       list-style-type: none;
       margin-top: 25px;

}

ul li{
        display: inline-block;
}

ul li a{
         text-decoration: none;
         color:rgb(27, 54, 209);
         padding: 5px 20px;
         border: 2px solid transparent;
         transition: 0.6s ease;
         margin-right: -0.99rem;
}


ul li a:hover{
           background-color: #ffff;
            color: rgb(73, 28, 236);
}

ul li.active a{
                background-color: rgb(218, 31, 31);
                background: -webkit-linear-gradient(to right, #2528d6, #681313, #b92299);
                background: linear-gradient(to right, #1cb330, #1e90bd, #724791);
}

.logo img{

        width: 210px;
        height:auto;
}

.main{  
         max-width: 1400px;
        
} 

.title{
         position: absolute;
         top: 15%;
         left: 35%;
         transform: translate(-25%,-25%); 

}

.title h1{
          
          font-size: 60px;
          background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
          background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}


.button{
        position: absolute;
     
         top: 32%;
         left: 40%;
         transform: translate(-25%,-25%);
     
         background: linear-gradient(to right, #ec3e12, #aeda10, #0cbbda);
}    

.btn{
     border: 1px solid rgb(20, 224, 207);
     padding: 10px 30px;
     color: #fff;
     text-decorotion: none;
     transition: 0.6s ease;

}

.btn:hover{
            background-color: #ffff;
            color: rgb(226, 15, 15);
           
}





.button1{
        position: absolute;
         top: 45%;
         left: 40%;
         transform: translate(-25%,-25%);
         background: linear-gradient(to right, #21b134, #0d89d1, #e725cd);

}

.btn{
        border: 1px solid rgb(20, 224, 207);
        padding: 10px 30px;
        color: rgb(245, 7, 7);
        text-decorotion: none;
        transition: 0.6s ease;
   
   }


   .website__rights {
        color: #fff;
        margin-top: 650px;
        font-size: 20px;
      
        

    }